<div class="card p-1 shadow mb-1">
    <div class="row no-gutters">
        <div class="card-body">
            <b>Date:</b> {{ task.date | date: 'dd MM yyyy' }}
        </div>
        <div class="card-body desc" [ngClass]="{'isCompleted': task.isCompleted}">
            {{ task.description | uppercase }}
        </div>
        <div class="card-actions m-auto" *ngIf="!task.isCompleted">
            <button class="btn btn-success mr-2" (click)="onCheck()">
                Completar
            </button>
            <button class="btn btn-danger mr-2" (click)="onDelete()">
                Borrar
            </button>
        </div>
    </div>
</div>