/* You can add global styles to this file, and also import other style files */

.bg {
    max-width: 700px;
    margin: auto;
}

.desc {
    text-overflow: ellipsis !important;
    overflow: hidden !important;
}    

.isCompleted {
    text-decoration: line-through !important;
}

