<div class="card my-4 p-4 shadow bg">
    <div class="row mb-4">
        <div class="col-12">
            <h2>Things to do.</h2>
            <div class="row" *ngIf="tasksNoComnpleted.length > 0; else NoTaskToDo">
                <div class="col-12 mb-2">
                    <app-task 
                        *ngFor="let task of tasksNoComnpleted; index as index" 
                        [task]="task" 
                        [index]="index"
                        (delete)="delete($event)"
                        (check)="check($event)">
                    </app-task>
                </div>
            </div>
                       
            <button *ngIf="!isShowInputTask" (click)="showInputTask()" class="btn btn-primary">Add Task</button>

            <div *ngIf="isShowInputTask" class="input-group">
                <input 
                    type="text" 
                    class="form-control" 
                    placeholder="Enter description task" 
                    [formControl]="desc"
                    (keydown.enter)="addTask()">
                <span>
                    <button 
                    class="btn btn-primary rounded-0" 
                    [disabled]="desc.invalid" 
                    (click)="addTask()">Añadir</button>
                </span>
            </div>
        </div> 
    </div>
    <div class="row">
        <div class="col-12">
            <h2>To do</h2>
            <button 
                class="btn btn-primary mb-2"
                (click)="showCompleted()">
                <span *ngIf="isShowCompleted">Hidden task completed</span>
                <span *ngIf="!isShowCompleted">Show task completed</span>
            </button>
            <div class="row" *ngIf="tasksCompleted.length > 0; else NoTaskCompleted">
                <div class="col-12 mb-2" *ngIf="isShowCompleted">
                    <app-task 
                        *ngFor="let task of tasksCompleted; index as index" 
                        [task]="task" 
                        [index]="index">
                    </app-task>
                </div>
            </div>
            
        </div>
    </div>
</div>

<ng-template #NoTaskToDo>
    <p>Congratuletion, no have task to do</p>
</ng-template> 

<ng-template #NoTaskCompleted>
    <p>No have task completed</p>
</ng-template>




